In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json
from Helpers import load_data

DATA_FOLDER = "MovieSummaries/"

In [2]:
# Read the text file into a DataFrame
summary_df = load_data("plot_summaries.txt")

# Display the first few rows of the DataFrame

first_summary = summary_df.loc[0, 'Summary']
print(first_summary)

summary_df.head()

Shlykov, a hard-working taxi driver and Lyosha, a saxophonist, develop a bizarre love-hate relationship, and despite their prejudices, realize they aren't so different after all.

   Wikipedia movie ID                                            Summary
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...
1            31186339  The nation of Panem consists of a wealthy Capi...
2            20663735  Poovalli Induchoodan  is sentenced for six yea...
3             2231378  The Lemon Drop Kid , a New York City swindler,...
4              595909  Seventh-day Adventist Church pastor Michael Ch...

In [3]:
df = load_data("movie.metadata.tsv")
df.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,English Language,United States of America,"Thriller, Science Fiction, Horror, Adventure, ..."
1,3196793,08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English Language,United States of America,"Mystery, Biographical film, Drama, Crime Drama"
2,28463795,0crgdbh,Brun bitter,1988,NaN,83.0,Norwegian Language,Norway,"Crime Fiction, Drama"
3,9363483,0285_cd,White Of The Eye,1987,NaN,110.0,English Language,United Kingdom,"Thriller, Erotic thriller, Psychological thriller"
4,261236,01mrr1,A Woman in Flames,1983,NaN,106.0,German Language,Germany,Drama

In [4]:
# Read the gzipped TSV file into a DataFrame
character_df = load_data("character.metadata.tsv")

# Display the first few rows of the DataFrame
character_df.head()

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID
0,975900,03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,0bgchxw,0bgcj3x,03wcfv7
1,975900,03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,044038p,Natasha Henstridge,27.0,0jys3m,0bgchn4,0346l4
2,975900,03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,0x67,Ice Cube,32.0,0jys3g,0bgchn_,01vw26l
3,975900,03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,02vchl6,0bgchnq,034hyc
4,975900,03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,02vbb3r,0bgchp9,01y9xg

In [5]:
# Read the text file into a DataFrame
char_cluster_df = load_data("name.clusters.txt")

# Display the first few rows of the DataFrame
char_cluster_df.head()

            Name      ID
0  Stuart Little  0k3w9c
1  Stuart Little  0k3wcx
2  Stuart Little  0k3wbn
3       John Doe  0jyg35
4       John Doe  0k2_zn

In [6]:

# Read the text file into a DataFrame
tvtropes_df = load_data("tvtropes.clusters.txt")



# Display the first few rows of the DataFrame
tvtropes_df.head()

,CharType,Values,Char,Movie,ID,Actor
0,absent_minded_professor,"{""char"": ""Professor Philip Brainard"", ""movie"":...",Professor Philip Brainard,Flubber,0jy9q0,Robin Williams
1,absent_minded_professor,"{""char"": ""Professor Keenbean"", ""movie"": ""Richi...",Professor Keenbean,Richie Rich,02vchl3,Michael McShane
2,absent_minded_professor,"{""char"": ""Dr. Reinhardt Lane"", ""movie"": ""The S...",Dr. Reinhardt Lane,The Shadow,0k6fkc,Ian McKellen
3,absent_minded_professor,"{""char"": ""Dr. Harold Medford"", ""movie"": ""Them!...",Dr. Harold Medford,Them!,0k6_br,Edmund Gwenn
4,absent_minded_professor,"{""char"": ""Daniel Jackson"", ""movie"": ""Stargate""...",Daniel Jackson,Stargate,0k3rhh,James Spader

Age-related desirability in movies

In [7]:
# Filter the DataFrame to find rows with specified genre keywords
filtered_df = movie_df[movie_df["Movie genres"].str.contains('erotic|romantic|romance', case=False, na=False)]

# Use a set to store unique genre values
unique_genres = set()

# Iterate through the filtered DataFrame and add unique genres to the set
for genre in filtered_df["Movie genres"]:
    unique_genres.update(genre.split(', '))  # Assumes genres are separated by a comma and a space

# Print the unique genre values
for genre in unique_genres:
    print(genre)

NameError: name 'movie_df' is not defined

In [ ]:
# Iterate through the list and print values with "Erotic" or "Romantic"
love_genre = []
for genre in unique_genres:
    if "Erotic" in genre or "Roman" in genre:
        love_genre.append(genre)
print(love_genre)

['Romance Film', 'Romantic comedy', 'Romantic fantasy', 'Romantic drama', 'Erotica', 'Erotic thriller', 'Erotic Drama', 'Romantic thriller']