In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from Helpers import load_data

In [2]:
# Read the text file into a DataFrame
summary_df = load_data("plot_summaries.txt")

first_summary = summary_df.loc[0, 'Summary']
print(first_summary)
summary_df.head()

Shlykov, a hard-working taxi driver and Lyosha, a saxophonist, develop a bizarre love-hate relationship, and despite their prejudices, realize they aren't so different after all.

   Wiki_movie_id                                            Summary
0       23890098  Shlykov, a hard-working taxi driver and Lyosha...
1       31186339  The nation of Panem consists of a wealthy Capi...
2       20663735  Poovalli Induchoodan  is sentenced for six yea...
3        2231378  The Lemon Drop Kid , a New York City swindler,...
4         595909  Seventh-day Adventist Church pastor Michael Ch...

In [3]:
movie_df = load_data("movie.metadata.tsv")
movie_df.head()

NameError: name 'np' is not defined

In [ ]:
movie_df['Movie box office revenue'].isna().mean()

0.8972241592346558

In [ ]:
character_df = load_data("character.metadata.tsv")

character_df.head()

,Wiki_movie_id,Fb_movie_id,release_date,Character,Actor date of birth,Actor gender,Actor height (in meters),Fb_actor_ethnicity_id,Actor_name,Actor_age,Freebase character/actor map ID,Fb_char_id,Fb_actor_id
0,975900,03vyhn,2001,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,0bgchxw,0bgcj3x,03wcfv7
1,975900,03vyhn,2001,Lieutenant Melanie Ballard,1974-08-15,F,1.780,044038p,Natasha Henstridge,27.0,0jys3m,0bgchn4,0346l4
2,975900,03vyhn,2001,Desolation Williams,1969-06-15,M,1.727,0x67,Ice Cube,32.0,0jys3g,0bgchn_,01vw26l
3,975900,03vyhn,2001,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,02vchl6,0bgchnq,034hyc
4,975900,03vyhn,2001,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,02vbb3r,0bgchp9,01y9xg

In [ ]:
# Read the text file into a DataFrame
char_cluster_df = load_data("name.clusters.txt")

char_cluster_df.head()

            Name Fb_char_actor_id
0  Stuart Little           0k3w9c
1  Stuart Little           0k3wcx
2  Stuart Little           0k3wbn
3       John Doe           0jyg35
4       John Doe           0k2_zn

In [ ]:
# Read the text file into a DataFrame
tvtropes_df = load_data("tvtropes.clusters.txt")

tvtropes_df.head()

,CharType,Char,Movie,Fb_char_actor_id,Actor
0,absent_minded_professor,Professor Philip Brainard,Flubber,0jy9q0,Robin Williams
1,absent_minded_professor,Professor Keenbean,Richie Rich,02vchl3,Michael McShane
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,0k6fkc,Ian McKellen
3,absent_minded_professor,Dr. Harold Medford,Them!,0k6_br,Edmund Gwenn
4,absent_minded_professor,Daniel Jackson,Stargate,0k3rhh,James Spader